---
$options
$text1
$text2
$text3
---
<div class="row">
  <div class="col-sm-7">
    <label for="text1">打自己臉的人說過的話</label>
    <textarea name="text1" id="text1" class="form-control" placeholder="請輸入打臉內文" style="min-height:182px;">{{$text1}}</textarea>
  </div>
  <div class="col-sm-5 last">
    <label for="sentence">選擇打誰的臉</label>
    <select class="form-control" name="role" id="role">{{$options}}</select>
    <label for="text2">落款</label>
    <input type="text" id="text2" class="form-control" name="text2" value="{{$text2}}"   placeholder="必填" style="width:100%">
    <label for="text3">日期、出處、網址</label>
    <input type="text" id="text3" class="form-control" name="text3" value="{{$text3}}" placeholder="可選填" style="width:100%">
  </div>
</div>
