---
$path
---

<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/jquery.dotdotdot.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/jquery.base64.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/simpletooltip/simpletooltip.js" type="text/javascript"></script>
<script src="{{$path}}vender/uploader/jquery.knob.js"></script>
<script src="{{$path}}vender/uploader/jquery.ui.widget.js"></script>
<script src="{{$path}}vender/uploader/jquery.iframe-transport.js"></script>
<script src="{{$path}}vender/uploader/jquery.fileupload.js"></script>
<script src="{{$path}}script/all.js" type="text/javascript"></script>
